<div class="container-fluid sub-navbar">
    <div class="row">
        <div class="col-12 nav-menu-intro">
            <p class="title-nav-menu">  Students</p> 
        </div>
        <nav class="navbar navigation-links col-12 navbar-expand-lg">
            <div class="container-fluid">
              <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="#"><i class="fas fa-home"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-plus"></i> Cours</a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-plus"></i> Groups</a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-plus"></i> Emplois</a></li>
                </ul>
              </div>
            </div>
          </nav>
    </div>
</div>



<div class="container bg-white mt-2">
    <div class="row">
        <div class="col-12 ">
 
Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde facilis aliquam ut accusamus vitae consequatur itaque nesciunt deleniti rem velit asperiores hic ratione, suscipit perspiciatis, optio quisquam doloremque praesentium impedit.

         </div>
 
    </div>
</div>