<div class="sub-navbar">
  <div class="container">
    <div class="row">
      <div class="col-12 nav-menu-intro"><p>Abdellah charki</p></div>
      <nav class="navbar navigation-links col-12 navbar-expand-lg">
        
        <div class="container-fluid">
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link active"><i class="fas fa-user"></i>  </a> </li>
              <li class="nav-item"><a class="nav-link"><i class="fas fa-list-ul    "></i> Absants</a></li>
              <li class="nav-item"><a class="nav-link"> <i class="fas fa-hand-point-down    "></i> Pyments</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>


<div class="container bg-white mt-2">
  <div class="row">
    <div class="col-12 p-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>