<div class="card row">
    <div class="card-body col-12">
        <div class="row">
            <div class="col-4">Eleves</div>
            <div class="col-4">Profiseurs</div>
            <div class="col-4">Employees</div>
        </div>
    </div>
</div>




<div class="card mt-2 row">
    <div class="card-body col-12">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nulla reprehenderit atque. Maxime nulla
        debitis officia deleniti doloremque libero consequuntur laborum unde nam, aliquam corrupti deserunt,
        vero eum porro ad.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nulla reprehenderit atque. Maxime nulla
        debitis officia deleniti doloremque libero consequuntur laborum unde nam, aliquam corrupti deserunt,
        vero eum porro ad.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nulla reprehenderit atque. Maxime nulla
        debitis officia deleniti doloremque libero consequuntur laborum unde nam, aliquam corrupti deserunt,
        vero eum porro ad.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nulla reprehenderit atque. Maxime nulla
        debitis officia deleniti doloremque libero consequuntur laborum unde nam, aliquam corrupti deserunt,
        vero eum porro ad.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nulla reprehenderit atque. Maxime nulla
        debitis officia deleniti doloremque libero consequuntur laborum unde nam, aliquam corrupti deserunt,
        vero eum porro ad.
    </div>
</div>
