.line-steps{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #90969f61;
        top: 50%;
    
    }
    .step{
        min-width: 100px;
//height: 70px;
      //  background-color: bisque;
        z-index: 99;
        text-align: center;
        display: inline-block;
        margin-top: 22px;
        padding: 5px 10px;
        border-radius: 6px;
        cursor: pointer;
        &.active{
            .step-icon{
                background-color: #4152a5;
            }
        }
        .step-icon{
            width: 50px;
            height: 50px;
            background: #9298a2;
            border-radius: 34px;
            text-align: center;
            line-height: 2.4;
            color: #fff;
            border: 6px solid #fff;
            display: inline-block;
        }
    }

}